@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lexend&family=Lexend+Deca&family=Montserrat:wght@500;600&family=Poppins:wght@100;200;300&display=swap');

*{

margin: 0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif ;
}